<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="viewport" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mostrando Tarefa </title>
  </head>
 <body>

     <h1> Eu sou a tarefa de ID, <%= id %> </h1>
     <h2> Meu nome é: <%= name %> </h2>
 </body>
</html>







